@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brancopuro: #FFF;
    --BrancoMelvs: #eff0e8d5;
    --VerdeClaro: #11C76F;
    --HoverMenu: rgba(23, 233, 132, 0.701);
    --TextoPreto: #000;
    --TextoVerdeEscuro: #054A29;
    --VerdeEscuro: #054A29;
    --Fundoplanos: #eff0e8d5;
    --Sombra: rgba(0, 0, 0, 0.08);
    --TextoVerdeClaro: #11C76F;
    --Botao: #D9D9D9;
    --critico: #ff0000;
    --ok: #11C76F;
    --atencao:  #bbb502;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    height: 70%;
    display: flex;
    background-color: var(--BrancoMelvs);
    position: relative;
    margin: 15px;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--BrancoMelvs);
}

body.Escuro {
    --BrancoMelvs: #3A3B3C;
    --VerdeClaro: #242526;
    --HoverMenu: #4D4C4C;
    --TextoPreto: #CCC;
    --TextoVerdeEscuro: #CCC;
    --VerdeEscuro: #3A4A40;
    --Fundoplanos: rgba(255, 255, 255, 0.179);
    --Sombra: rgba(255, 255, 255, 0.179);
    --brancopuro: #000;
    --TextoVermelho: #B75E38;
    --TextoLaranja:#F9F871;
    --TextoVerdeClaro: #11C76F;
    --Botao: #697987;
}

i {
    font-size: 24px;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: var(--TextoVerdeEscuro);
}

/* tag ativar */
.navegacao.ativar {
    width: 60px;
}

.menu.ativar {
    width: calc(100% - 80px);
    left: 80px;
}


section{
    background-color: var(--BrancoMelvs);
    display: flex   ;
    justify-content: center;
}


.containerplanos {
    position: relative;
    width: 100%;
}

.navegacao {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--VerdeClaro);
    border-left: 3px solid var(--VerdeClaro);
    overflow: hidden;
    transition: 0.5s;
}

.navegacao ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

}

.navegacao ul li {
    position: relative;
    width: 100%;
    border-radius: 30px;
}

.navegacao ul li .fotoDePerfil {
    margin-bottom: 40px;
}

/* hover */

.caixas .caixa:hover .KPI-nome {
    color: var(--TextoPreto);
    font-weight: bold;
}


.navegacao ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--TextoVerdeEscuro);

}

.navegacao ul li a .icone {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;

}

.navegacao ul li a i {
    font-size: 24px;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: var(--TextoVerdeEscuro);
}

.navegacao ul li a .titulo {
    position: relative;
    display: block;
    padding: 0 10pxs;
    height: 60px;
    line-height: 60px;
}

.navegacao ul li a .Modo {
    position: relative;
    display: block;
    padding: 0 10pxs;
    height: 60px;
    line-height: 60px;
}

.menu {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    transition: 0.5s;
    background-color: var(--BrancoMelvs);
    min-height: 100vh;
}

.barra-de-cima {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: var(--BrancoMelvs);
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: var(--BrancoMelvs);
    font-size: 2.5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Sair {
    position: relative;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    width: 40px;
}

.Sair img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card {
    box-shadow: 0 7px 25px var(--Sombra);
    background: var(--BrancoMelvs);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;
    margin: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--VerdeEscuro);
}
.conteudo {
    display: flex;
}
.card .conteudo-card {
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 330px;
    position: relative;
}


.container {
    display: flex;
    background-color: var(--BrancoMelvs);
    justify-content: center;
    flex-direction: row;
}
.subtitulo {
    color: rgb(240, 9, 240);
    position: relative;

}
.tituloCard {
    font-size: 30px;
    font-weight: bold;
    color: var(--TextoVerdeEscuro);
    position: relative;
}
.titulo3 {
    font-size: 30px;
    font-weight: bold;
    color: var(--TextoVerdeEscuro);
    position: relative;

}
.titulo3 img {
    position: absolute;
    width: 40px;
    margin-left: 20px;
    border: 2px dotted var(--TextoVerdeClaro);
    border-radius: 50%;
}
.tituloCard img {
    position: absolute;
    width: 40px;
    margin-left: 80px;
    border: 2px dotted var(--TextoVerdeClaro);
    border-radius: 50%;
}
.caixa-beneficios-e-maleficios{
    margin-top: 35px;
    font-size: 20px;
    position: relative;

}
.beneficios{
    margin-top: 5px;
    color: var(--TextoPreto);
    position: relative;

}
.maleficios{
    margin-top: 5px;
    color: var(--TextoPreto);
    position: relative;

}
.caixa-maleficios .maleficios img {
    width: 20px;
    position: relative;

}
.caixa-beneficios .beneficios img {
    width: 20px;
    position: relative;

}


.caixa-parte-de-baixo {
    display: flex;
    margin-top:30px ;
    border-top: 1px solid var(--TextoPreto);
    flex-direction: column;
    position: relative;

}

.caixa-parte-de-baixo .botao {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    position: relative;

}

.caixa-parte-de-baixo button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    color: black;
    background-color:var(--TextoVerdeClaro);
    position: relative;

}
.caixa-parte-de-baixo button:hover {
    opacity: 0.5;
}

.caixa-parte-de-baixo .valor {
    margin-top: 20px;
    font-size: 30px;
    color: var(--TextoPreto);
    position: relative;

}

.caixa-parte-de-baixo .valor .periodo {
    font-size: 15px;
    position: relative;

}